Options +MultiViews

php_flag engine off

Header set Strict-Transport-Security "max-age=31536000"
Header set X-Frame-Options "DENY"
Header set X-XSS-Protection "1; mode=block"

RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://conf.fennel-lang.org/$1 [R=301,L]

RewriteRule ^$ https://conf.fennel-lang.org/2019 [R=301,L]
RewriteRule ^/$ https://conf.fennel-lang.org/2019 [R=301,L]
RewriteRule ^/index.html$ https://conf.fennel-lang.org/2019 [R=301,L]
